#token-launch-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .paper-format {
    max-width: 1000px;
    width: 97%;
    padding: 15px 15px 15px 15px;
    z-index: 5;
    overflow: hidden;
    border-radius: 10px !important;
    margin-bottom: 1.8rem;
    backdrop-filter: blur(33px);
    .card-header {
      width: 100%;
      position: relative;
      min-height: 33px;
      margin-bottom: 10px;
    }
  }
    
  .pana-card {
    h5 {
      font-weight: bold;
    }
  }

  .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignLeft.farm-name-cell {
    justify-content: space-between;
    display: flex;
    div.farm-name {
      width: 60%;
      margin-left: 5px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      align-items: flex-start;
      p {
        margin-bottom: unset !important;
        line-height: 140% !important;
      }
      svg {
        margin-left: 3px !important;
        font-size: 1.2em !important;
      }
    }
  }

  .pana-launch-info{
    font-weight: 100;
    font-size: 16px;
    color: green;
  }
  .farm-asset-icon {
    min-width: 4.5rem;
  }
  .small-box{
    .box-dash{
      min-height: 80px;
    }
    .fnt-min {
        .MuiTypography-h5{
        font-size: 20px;
      }
    }
  }
  .claimable-balance{
    margin-top: 10px!important;
  }
  .big-box{
    min-height: 148px;
    text-align: center;
    .MuiSkeleton-pulse{
      margin: auto;
    }
  }
  .info-perday{    
    padding-bottom:15px ;
  }
  .bigboxspace{
    margin-bottom: 10px;
  }
}
