.dapp-topbar {
  width: 100%;
  align-items: center;
  a,
  button {
    white-space: nowrap !important;
    overflow: hidden !important;
    margin: 6px !important;
    min-width: fit-content !important;
    min-height: 40px !important;
    &#hamburger {
      padding: 11px !important;
    }
    &.toggle-button {
      padding: 9.5px !important;
    }
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  color: green;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 20s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 12px;
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
      left:800px;
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      left:-800px;
      transform: translate3d(var(--move-final), 0, 0);
  }
}

.tablet .dapp-topbar {
  justify-content: space-between;
}
.pending-txn-container {
  display: flex;
  align-items: center;
  padding: 10px !important;
  .MuiButton-label {
    margin-right: 0;
    transition: all 0.33s ease-out;
    font-size: 14px;
    font-weight: 500;
  }
}
#pana-popper-pending {
  .MuiPaper-root.pana-menu {
    a {
      padding-right: 20px !important;
    }
  }
}
.caret-down {
  position: absolute;
  right: 0.4rem;
}
.hovered-button {
  .MuiButton-label {
    margin-right: 0.5rem;
    transition: all 0.33s ease-out;
  }
}

.fi{
  background-size: contain;
background-position: 50%;
background-repeat: no-repeat;
}
#pana-menu-button {
  .MuiButton-label {
    svg {
      fill: #E49A22;
    }
  }

  .MuiTypography-body1 {
    color: #E49A22;
    text-transform: uppercase;
  }
}
