* {
  outline: none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body,
#root {
  font-family: "Square";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  font-family: "Square";
  overflow: hidden;
  transition: all ease 0.33ms;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}

.pana-card {
  max-width: 833px;
  .card-header {
    width: 100%;
    min-height: 33px;
    margin-bottom: 10px;
    h5 {
      font-weight: 600 !important;
    }
  }

  .help-text {
    margin: 10px 0px;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0px;
  }

  .data-row-centered {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 12px 0px;
    .marginedBtn {
      margin: 0.3rem;
    }
  }
}

.pana-pairs {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}

.tooltip {
  z-index: 9999999;
}

.countdown-container {
  margin-top: 4rem;
}

.countdown-date {
  font-size: 2rem;
}

.countdownListItem {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdownListSpan {
  display: block;
  font-size: 4.5rem;
}

.counter-container{  
  text-align: center;
  .countdown-container{
    // width: 500px;
    margin:auto;
  }
}

.marquee {
  position: relative;  
  overflow: hidden;
  color: green;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 20s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 10px;
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}
@media screen and (min-width: 1700px) {
  // .marquee {
  //   left:0px;
  // }
  @keyframes marquee {
    0% {
        left:1300px;
        transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
        left:-1300px;
        transform: translate3d(var(--move-final), 0, 0);
    }
  }
}
@media screen and (min-width: 1500px) {
  // .marquee {
  //   left:0px;
  // }
  @keyframes marquee {
    0% {
        left:1200px;
        transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
        left:-1200px;
        transform: translate3d(var(--move-final), 0, 0);
    }
  }
}
@media screen and (min-width: 1400px) {
  // .marquee {
  //   left:100px;
  // }
  @keyframes marquee {
    0% {
        left:1100px;
        transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
        left:-1100px;
        transform: translate3d(var(--move-final), 0, 0);
    }
  }
}
@media screen and (min-width: 1300px) {
  // .marquee {
  //   left:200px;
  // }
  @keyframes marquee {
    0% {
        left:1000px;
        transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
        left:-1000px;
        transform: translate3d(var(--move-final), 0, 0);
    }
  }
}
@media screen and (min-width: 1000px) {
  // .marquee {
  //   left:200px;
  // }
  @keyframes marquee {
    0% {
        left:900px;
        transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
        left:-900px;
        transform: translate3d(var(--move-final), 0, 0);
    }
  }
}
@media screen and (min-width: 980px) and (max-width: 1100px){
  // .marquee {
  //   left:250px;
  // }
  @keyframes marquee {
    0% {
        left:800px;
        transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
        left:-800px;
        transform: translate3d(var(--move-final), 0, 0);
    }
  }
}
@media screen and (max-width: 980px){
  // .marquee {
  //   left:250px;
  // }
  @keyframes marquee {
    0% {
        left:800px;
        transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
        left:-800px;
        transform: translate3d(var(--move-final), 0, 0);
    }
  }
}
